.cbox_clear {
	padding-top: 15px;
	padding-left: 30px;
	width: 1200px;
	height: 430px;
}

.leftbox {
	width: 210px;
	float: left;
	background: #fff;
	height: 430px;
}
.ad_1 {
	width: 210px;
	height: 109px;
	margin-bottom: 10px;
}

.ad_2 {
	width: 210px;
	height: 304px;
}
.ad_2 h4 {
	line-height: 32px;
	text-align: center;
	font-weight: bold;
	height:32px;
	color: #fff;
	font-size: 14px;
	background: #B10000;
}

.ad_2 ul li {
	line-height: 24px;
	height: 24px;
	overflow: hidden;
	border: 1px solid #e6e6e6;
	padding: 7px 7px;
}
.red {
	float: left;
	color: #cc0048;
	font-weight: bold;
	padding-right: 5px;
}


.rightbox {
	width: 980px;
	float: right;
	height: 430px;
	background: white;
	position: relative;
}
#nav_r {
	width: 980px;
	height: 31px;
	line-height: 32px;
	background: #ab0c06;
	border-right: 1px solid #e5e5e5;
	color: white;
}
#nav_r b {
	font-size: 14px;
	color: #fff;
	padding: 0 0 0 15px;
}
#nav_r a {
	color: #fff;
	padding: 0 5px;
}
#nav_msg {
	width: 282px;
	float: left;
	text-align: center;
	height: 330px;
	position: inherit;
	margin-left: 10px;
}
#smallimg {
	width: 260px;
	height: 280px;
	background-size: cover;
	position: relative;
	left: 20px;
	top:10px;
}
#smallArea {
	width: 100px;
	height: 100px;
	background: rgba(36, 255, 253, 0.3);
	position: absolute;
	left: 20px;
	top:30px;
	overflow: hidden;
}
#bigArea {
	width: 260px;
	height: 280px;
	position: absolute;
	left:300px;
	top:30px;
	display: none;
	border: 1px solid #999;
	overflow: hidden;
}
#bigimg {
	position: absolute;
	top:0;
	left:0;
	width: 480px;
	height: 510px;
}
.xuanxiang {
	width: 610px;
	float: right;
	line-height: 25px;
	overflow: hidden;
	padding-right: 10px;
	border-left: 1px solid #e5e5e5;
	padding-left: 10px;
}
.xuanxiang li {
	display: list-item;
	text-align: -webkit-match-parent;
}
.xuanxiang li h1 {
	font-size: 14px;
	border-bottom: 1px solid #ececec;
	height: 30px;
	line-height: 30px;
	margin-bottom: 10px;
	padding: 5px 0;
	text-align: center;
	color: #000;
}
.xuanxiang li strong {
	font-size: 14px;
	color: #e22a25;
	font-style: normal;
	font-weight: normal;
}
.borli {
	padding: 7px;
	border: 1px solid #cdcdcd;
	background: #f8f8f8;
	line-height: 30px;
	margin-top: 3px;
	width: 395px;
}
.borli span {
	display: block;
	background: none;
}
.borli em {
	padding: 3px 8px;
	border: 1px solid #c8c9cd;
	background: #fff;
	margin-right: 10px;
	font-size: 12px;
	font-style: normal;
	cursor: pointer;
}
.borli em.selected {
	background:#d6026e;
	color: #fff;
	border: 1px solid #d6026e;
}
.borli input {
	vertical-align: middle;
	border-color:red;
}
.borli b {
	color: #989998;
	font-weight: normal;
}