{% load static %}

<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8" />
		<title>商品详情</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/商品详情.css' %}" />
		<script src="{% static 'js/jquery-3.1.0.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/商品详情.js' %}"></script>
	</head>

	<body>
        <!--顶部开始-->
		<div id="header_top">
			<div id="header">

				<p id="p">您好：欢迎光临天狗商城！
                    {% if username %}
                    <b>{{ username }}</b>
                    <a href="{% url 'mall:logout' %}">退出</a>
                    {% else %}
					<a href="{% url 'mall:login' %}">请登录</a>，新用户？
					<a href="{% url 'mall:login' %}">免费注册</a>
                    {% endif %}
                </p>

				<div id="header_list">
					<a href="{% url 'mall:cart' %}">
                        <p id="p2">购物车<span style="color: red;" class="num_first">0</span>件</p>
                    </a>
					<span><a href="#">我的订单</a></span>|
					<span><a href="#">网站地图</a></span>|
					<span><a href="#">帮助中心</a></span>|
					<span><a href="#">加入收藏</a></span>|
					<span><a href="#">设为首页</a></span>
				</div>
			</div>
		</div>
		<!--顶部结束-->
		<!--logo开始-->
		<div id="logo">
			<div id="logo_tu">
				<a href=" {% url 'mall:index' %}" style="display:block;width:270px;height: 70px;"><img src="{% static 'img/p201401211350199562.jpg' %}"></a>
			</div>
			<div id="search">
				<div id="search_txt">
					<span>商品</span>
					<div id="search_con">
						<input type="text" name="" id="txt" value="多搜搜，意外惊喜等你拿">
					</div>
					<p>
						<a href="#">手机</a>/
						<a href="#">钟表</a>/
						<a href="#">家电</a>/
						<a href="#">电脑</a>/
						<a href="#">男装</a>/
						<a href="#">女装</a>/
						<a href="#">灯具</a>/
						<a href="#">童装</a>/
						<a href="#">儿童玩具</a>/
						<a href="#">笔记本</a>/
						<a href="#">平板</a>/
						<a href="#">相机</a>/
						<a href="#">鞋</a>/
					</p>
				</div>
				<div id="search_suo">
					<input type="button" id="btn" value="搜索">
				</div>
			</div>
		</div>
		<!--logo结束-->

		<!--导航栏1开始-->
		<div id="nav">
			<div id="nav_feiLei">
				<a href="#">所有商品分类</a>
			</div>
			<ul id="nav_list">
				<li>
					<a href="{% url 'mall:index' %}">首页</a>
				</li>
				<li>
					<a href="#">手机数码</a>
				</li>
				<li>
					<a href="#">礼品箱包</a>
				</li>
				<li>
					<a href="#">厨具用品</a>
				</li>
				<li>
					<a href="#">电脑办公</a>
				</li>
				<li>
					<a href="#">服饰鞋帽</a>
				</li>
				<li>
					<a href="#">个护化妆</a>
				</li>
				<li>
					<a href="#">母婴用品</a>
				</li>
			</ul>
			<div id="nav_con">
				<dl>
					<dd>
						<div class="hot"></div>
						<a href="#">分销</a>
					</dd>
					<dd>
						<div class="new"></div>
						<a href="#">导航</a>
					</dd>
					<dd>
						<div class="diy"></div>
						<a href="#">团购</a>
					</dd>
					<dd>
						<div class="go"></div>
						<a href="#">充值</a>
					</dd>
				</dl>
			</div>
		</div>
		<!--导航栏1结束-->

        <!--中部开始-->
		<div class="cbox_clear">
            <!--左侧盒开始-->
			<div class="leftbox">
				<div class="ad_1">
					<img src="{% static 'img/sxlrx_falsh41.jpg' %}">
				</div>
				<div class="ad_2">
					<h4>畅销排行榜</h4>
					<ul>
						<li class="t1 odd" style="height: 64px;">
							<span class="red" style="float: left;">1</span>
							<div style="width: 56px;float: left;">
								<a href="#"><img src="{% static 'img/minP2016031314422891.jpg' %}" style="width: 52px;height: 55px;"></a>
							</div>
							<span class="a1" style="width: 122px;line-height: 18px;">三星NoTE5 N9200 白,屏幕尺...</span><br>
							<b style="color: orange;">￥5336</b>
						</li>
						<li class="t1 odd">
							<span class="red">2</span>
							<span class="a1">三星S6 9208 白,金属边框&amp;玻...</span>
						</li>
						<li class="t1 odd">
							<span class="red">3</span>
							<span class="a1">三星A7100 女王粉,屏幕尺寸5...</span>
						</li>
						<li class="t1 odd">
							<span class="red">4</span>
							<span class="a1">Apple iPhone 6s Plu...</span>
						</li>
						<li class="t1 odd">
							<span class="red">5</span>
							<span class="a1">Meitu/美图 v4 美图手机v4秀...</span>
						</li>
						<li class="t1 odd">
							<span class="red">6</span>
							<span class="a1">Meitu/美图 v4 美图手机v4秀...</span>
						</li>
					</ul>
				</div>
			</div>
            <!--左侧盒结束-->
            <!--右侧盒开始 商品展示-->
			<div class="rightbox">
				<div id="nav_r">
					<b>当前位置：</b>
					<a href="#">首页</a>&gt;
					<a href="#">手机数码</a>&gt;
					<a href="#">手机通讯</a>&gt;
					<a href="#">手机</a>&gt; 三星S6 9208 金,金属边框&amp;玻璃机身，0.7秒快速启动相机、快速充电！
				</div>
                <!--商平图片展示-->
				<div id="nav_msg">
					<div id="smallimg">
                        <img src="{% static goods.maximg %}" alt="">
						<div id="smallArea"></div>
					</div>
					<div id="bigArea" style="">
{#						<img id="bigimg" src="{% static 'img/hdP20160313145249235.jpg' %}" style="width: 470px;height: 508px;;">#}
                        <img id="bigimg" src="{% static goods.hdimg %}">
					</div>
				</div>
                <!--商平详情展示-->
				<ul class="xuanxiang">
					<li>
						<h1>{{ goods.content }}</h1>
					</li>
					<li>商品编号：{{ goods.no }}
					</li>
					<li>商品简介：{{ goods.content }}
					</li>
					<li>价 格：<span class="sprice">￥{{ goods.sprice }}</span> </li>
					<li>商城价格：<strong class="price">￥{{ goods.price }}</strong> </li>
					<li class="borli">
                        <span>颜色：
                            <em id="颜色_金" |="" class="">金色</em>
                            <em id="颜色_白" |="" class="">白色</em>
                            <em id="颜色_粉红色" |="" class="">粉红色</em>
                            <em id="颜色_银" |="" class="">银色</em>
                        </span>

						<span>我 要 买：
                                <input name="txtNum" id="txtNum" type="text" value="1" style="width: 80px;">
                                个 <b>(下订单后立即发货)</b> </span>
						<img src="{% static 'img/dg.gif' %}" id="rightBuy" style="cursor: pointer;">
						<img src="{% static 'img/gwc.gif' %}" alt="" id="addShopCart" style="cursor: pointer">
					</li>
					<li>累计出售：<strong>675</strong>件 收藏：
						<strong id="ShouC">301</strong>次 浏览：
						<strong>498</strong>次
					</li>
				</ul>
				<input type="hidden" value="minP20160313145249235" id="goodsNo">
            </div>
            <!--右侧盒结束-->
        </div>
        <!--中部结束-->

        <div id="footerbg">
            <div id="friendlik">
                <strong>友情链接：</strong>
                <a href="#">天狗网商城</a>
                <a href="#">介休市弘盛昌家具建材装饰城</a>
                <a href="#">介休鸿宪居装饰公司</a>
                <a href="#">介休家具建材网</a>
                <a href="#">天狗网络科技有限公司</a>
                <a href="#">天狗网络科技自助建站系统</a>
                <a href="#">天狗网上商城</a>
                <a href="#">涛涛三味火锅餐饮有限公司</a>
            </div>
            <div id="con">
                <div id="con_left">
                    <ul>
                        <li>
                            <img src="{% static 'img/tel.jpg' %}"> "客服服务热线"
                            <div id="pong">
                                03547357121 13383445351
                                <br>
                                <a href="#"><img src="{% static 'img/T1FXHXXahjXXXAK3zo-77-18.gif' %}"></a>
                            </div>
                            <span>(7*24小时服务)</span>
                        </li>
                        <li>
                            <a href="#"><img src="{% static 'img/button_111.gif' %}"></a>
                        </li>
                    </ul>
                </div>
                <div id="con_right">
                    <span id="boottom_help">

                    <ul>
                        <li>
                            <img src="{% static 'img/gu0.jpg' %}">
                            <h3>关于我们</h3>
                        </li>
                        <li class="mar">
                            <a href="#">货源提供</a>
                        </li>
                        <li class="mar">
                            <a href="#">联系客服</a>
                        </li>
                        <li class="mar">
                            <a href="#">商城简介</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="{% static 'img/gu1.jpg' %}">
                            <h3>售后服务</h3>
                        </li>
                        <li class="mar">
                            <a href="#">产品退换</a>
                        </li>
                        <li class="mar">
                            <a href="#">订单查询</a>
                        </li>
                        <li class="mar">
                            <a href="#">收货说明</a>
                        </li>
                        <li class="mar">
                            <a href="#">在线旺旺客服</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="{% static 'img/gu2.jpg' %}">
                            <h3>支付宝</h3>
                        </li>
                        <li class="mar">
                            <a href="#">支付宝</a>
                        </li>
                        <li class="mar">
                            <a href="#">货到付款</a>
                        </li>
                        <li class="mar">
                            <a href="#">银行付款</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="{% static 'img/gu3.jpg' %}">
                            <h3>购物指南</h3>
                        </li>
                        <li class="mar">
                            <a href="#">购物流程</a>
                        </li>
                        <li class="mar">
                            <a href="#">常见问题</a>
                        </li>
                        <li class="mar">
                            <a href="#">会员注册</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <img src="{% static 'img/gu4.jpg' %}">
                            <h3>配送方式</h3>
                        </li>
                        <li class="mar">
                            <a href="#">运费标准</a>
                        </li>
                        <li class="mar">
                            <a href="#">配送政策</a>
                        </li>
                        <li class="mar">
                            <a href="#">订单说明</a>
                        </li>
                    </ul>
                </span>
                    <ul>
                        <li style="width: 140px;float: left;">
                            <img src="{% static 'img/wx.jpg' %}">
                            <h3><a href="#">手机扫二维码登录</a></h3>
                        </li>
                        <li style="float: right;">
{#                            <a href="#"><img src="{% static 'undefined' %}"></a>#}
                        </li>
                    </ul>
                </div>
                n
            </div>
        </div>
        <!--footerbg结束-->
        <div id="footer">
            天狗网络科技有限公司版权所有<br> 站长统计
        </div>

    </body>

</html>