{% load static %}
<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'css/购物车.css' %}" />
		<script src="{% static 'js/jquery-3.1.0.js' %}"></script>
		<script src="{% static 'js/jquery.cookie.js' %}"></script>
		<script src="{% static 'js/购物车.js' %}"></script>
	</head>

	<body>

		<!--顶部开始-->
		<div id="header_top">
			<div id="header">

				<p id="p">您好：欢迎光临天狗商城！
                    {% if username %}
                    <b>{{ username }}</b>
                    <a href="{% url 'mall:logout' %}">退出</a>
                    {% else %}
					<a href="{% url 'mall:login' %}">请登录</a>，新用户？
					<a href="{% url 'mall:login' %}">免费注册</a>
                    {% endif %}
                </p>

				<div id="header_list">
					<p id="p2">购物车<span class="num_first" style="color: red;">0</span>件</p>
					<span><a href="#">我的订单</a></span>|
					<span><a href="#">网站地图</a></span>|
					<span><a href="#">帮助中心</a></span>|
					<span><a href="#">加入收藏</a></span>|
					<span><a href="#">设为首页</a></span>
				</div>
			</div>
		</div>

		<!--顶部结束-->
		<!--logo开始-->
		<div id="logo">
			<div id="logo_tu">
				<a href="{% url 'mall:index' %}" style="display:block;width:270px;height: 70px;"><img src="{% static 'img/p201401211350199562.jpg' %}"></a>
			</div>
			<div id="search">
				<div id="search_txt">
					<span>商品</span>
					<div id="search_con">
						<input type="text" name="" id="txt" value="多搜搜，意外惊喜等你拿">
					</div>
					<p>
						<a href="#">手机</a>/
						<a href="#">钟表</a>/
						<a href="#">家电</a>/
						<a href="#">电脑</a>/
						<a href="#">男装</a>/
						<a href="#">女装</a>/
						<a href="#">灯具</a>/
						<a href="#">童装</a>/
						<a href="#">儿童玩具</a>/
						<a href="#">笔记本</a>/
						<a href="#">平板</a>/
						<a href="#">相机</a>/
						<a href="#">鞋</a>/
					</p>
				</div>
				<div id="search_suo">
					<input type="button" id="btn" value="搜索">
				</div>
			</div>
		</div>
		<!--logo结束-->

		<!--导航栏1开始-->
		<div id="nav">
			<div id="nav_feiLei">
				<a href="#">所有商品分类</a>
			</div>
			<ul id="nav_list">
				<li>
					<a href="//">首页</a>
				</li>
				<li>
					<a href="#">手机数码</a>
				</li>
				<li>
					<a href="#">礼品箱包</a>
				</li>
				<li>
					<a href="#">厨具用品</a>
				</li>
				<li>
					<a href="#">电脑办公</a>
				</li>
				<li>
					<a href="#">服饰鞋帽</a>
				</li>
				<li>
					<a href="#">个护化妆</a>
				</li>
				<li>
					<a href="#">母婴用品</a>
				</li>
			</ul>
			<div id="nav_con">
				<dl>
					<dd>
						<div class="hot"></div>
						<a href="#">分销</a>
					</dd>
					<dd>
						<div class="new"></div>
						<a href="#">导航</a>
					</dd>
					<dd>
						<div class="diy"></div>
						<a href="#">团购</a>
					</dd>
					<dd>
						<div class="go"></div>
						<a href="#">充值</a>
					</dd>
				</dl>
			</div>
		</div>
		<!--导航栏1结束-->


        <!--购物车开始-->
        <div class="cartposition">
            <img src="{% static 'img/cart1.gif' %}">
        </div>
        <div id="shopCart" class="shopCart">
            <table>
                <thead>
                    <tr>
                        <th width="38%">产品名称</th>
                        <th width="11%">市场价</th>
                        <th width="18%">商城价</th>
                        <th width="11%">数量</th>
                        <th width="11%">小计</th>
                        <th width="11%">操作</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="Tr">
                        <td colspan="6" style="text-align: center;padding: 25px 0;">你的购物车还是空的，赶紧行动吧！马上去
                            <a href="{% url 'mall:index' %}" style="color: #ff0000;">挑选商品</a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6" align="left">
                            <p>
                                共 <b class="number"></b>件商品 价格总计：<b class="special"></b> 您是 未登录用户（不享受折扣价）（不含运费）

                            </p>
                            <a class="clear"><img src="{% static 'img/giveup.gif' %}"></a>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6" align="right">
                            折后价格<b class="special"></b>&nbsp;&nbsp;获得积分:<span class="fen"></span>
                        </td>
                    </tr>
                    <tr>
                        <th colspan="6" align="right">
                            <a href="{% url 'mall:index' %}">
                                <img src="{% static 'img/gon.gif' %}">继续购物
                            </a>
                            <a href="#" class="money">
                                <img src="{% static 'img/gomoney.gif' %}">
                            </a>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>

			<!--footerbg开始-->
			<div id="footerbg">
				<div id="friendlik">
					<strong>友情链接：</strong>
					<a href="#">天狗网商城</a>
					<a href="#">介休市弘盛昌家具建材装饰城</a>
					<a href="#">介休鸿宪居装饰公司</a>
					<a href="#">介休家具建材网</a>
					<a href="#">天狗网络科技有限公司</a>
					<a href="#">天狗网络科技自助建站系统</a>
					<a href="#">天狗网上商城</a>
					<a href="#">涛涛三味火锅餐饮有限公司</a>
				</div>
				<div id="con">
					<div id="con_left">
						<ul>
							<li>
								<img src="{% static 'img/tel.jpg' %}"> "客服服务热线"
								<div id="pong">
									03547357121 13383445351
									<br>
									<a href="#"><img src="{% static 'img/T1FXHXXahjXXXAK3zo-77-18.gif' %}"></a>
								</div>
								<span>(7*24小时服务)</span>
							</li>
							<li>
								<a href="#"><img src="{% static 'img/button_111.gif' %}"></a>
							</li>
						</ul>
					</div>
					<div id="con_right">
						<span id="boottom_help">

		  				<ul>
		  					<li>
		  						<img src="{% static 'img/gu0.jpg' %}">
		  						<h3>关于我们</h3>
		  					</li>
		  					<li class="mar">
		  						<a href="#">货源提供</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">联系客服</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">商城简介</a>
		  					</li>
		  				</ul>
		  				<ul>
		  					<li>
		  						<img src="{% static 'img/gu1.jpg' %}">
		  						<h3>售后服务</h3>
		  					</li>
		  					<li class="mar">
		  						<a href="#">产品退换</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">订单查询</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">收货说明</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">在线旺旺客服</a>
		  					</li>
		  				</ul>
		  				<ul>
		  					<li>
		  						<img src="{% static 'img/gu2.jpg' %}">
		  						<h3>支付宝</h3>
		  					</li>
		  					<li class="mar">
		  						<a href="#">支付宝</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">货到付款</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">银行付款</a>
		  					</li>
		  				</ul>
		  				<ul>
		  					<li>
		  						<img src="{% static 'img/gu3.jpg' %}">
		  						<h3>购物指南</h3>
		  					</li>
		  					<li class="mar">
		  						<a href="#">购物流程</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">常见问题</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">会员注册</a>
		  					</li>
		  				</ul>
		  				<ul>
		  					<li>
		  						<img src="{% static 'img/gu4.jpg' %}">
		  						<h3>配送方式</h3>
		  					</li>
		  					<li class="mar">
		  						<a href="#">运费标准</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">配送政策</a>
		  					</li>
		  					<li class="mar">
		  						<a href="#">订单说明</a>
		  					</li>
		  				</ul>
		  			</span>
						<ul>
							<li style="width: 140px;float: left;">
								<img src="{% static 'img/wx.jpg' %}">
								<h3><a href="#">手机扫二维码登录</a></h3>
							</li>
							<li style="float: right;">
								<a href="#"><img src="{% static 'undefined' %}"></a>
							</li>
						</ul>
					</div>

				</div>
			</div>
			<!--footerbg结束-->
			<div id="footer">
				天狗网络科技有限公司版权所有<br> 站长统计

			</div>


</div>
    </body>

</html>